﻿@model BookStoreMVC5.Models.Book

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Book</h4>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <img width="250" class="img-responsive" src="@Model.Image" alt="@Model.Name" />
        </div>
        <div class="col-md-9">
            <dl class="dl-horizontal">

                <dt>
                    Author
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Author.FirstName), @Html.DisplayFor(model => model.Author.LastName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ISBN)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ISBN)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Edition)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Edition)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Year)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Year)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Price)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Price)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd class="well">
                    @Html.DisplayFor(model => model.Description)
                </dd>

            </dl>
        </div>
    </div>
</div>
<br />
<p>
    <a href="javascript:void(0);" onclick="history.go(-1);">Back</a>
</p>
