﻿@model BookStoreMVC5.Models.BooksViewModel
@using PagedList.Mvc

<h2>All Books</h2>

<p>
    @using (Html.BeginForm("Index", "Books", FormMethod.Get))
    {
        <label>Sort by price:</label>
        @Html.DropDownListFor(vm => vm.SortBy, new SelectList(Model.Sorts, "Value", "Key"),
        "Default")
        <input type="submit" value="Filter" />
        <input type="hidden" name="Search" id="Search" value="@Model.Search" />
    }

</p>

<table class="table table-hover">
    <tr>
        <th>
            Author
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Books.First().Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Books.First().ISBN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Books.First().Edition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Books.First().Price)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Books)
    {
        <tr>
            <td>
                @Html.ActionLink($"{item.Author.FirstName}, {item.Author.LastName}", "Details", "Authors", new { id = item.Author.AuthorId }, new { @class = "btn btn-sm" })
            </td>
            <td>
                @Html.ActionLink($"{item.Name}", "Details", new { id = item.BookId }, new { @class = "btn btn-sm" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ISBN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>

            @if (User.Identity.Name == "Darian@gmail.com")
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.BookId }, new { @class = "btn btn-sm btn-primary" })
                    @Html.ActionLink("Details", "Details", new { id = item.BookId }, new { @class = "btn btn-sm btn-primary" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.BookId }, new { @class = "btn btn-sm btn-danger" })
                </td>
            }
            else
            {
                <td>
                    Buy
                </td>
            }

        </tr>
    }

</table>

<div>
    Page @(Model.Books.PageCount < Model.Books.PageNumber ? 0 : Model.Books.PageNumber) of @Model.Books.PageCount
    @Html.PagedListPager(Model.Books, page => Url.Action("Index", new
            {
                Search = @Model.Search,
                sortBy = @Model.SortBy,
                page
            }))
</div>


@if (User.Identity.Name == "Darian@gmail.com")
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
