﻿@model IEnumerable<BookStoreMVC5.Models.Topic>


<h2>Topics</h2>

<div>
    <ul>
        @foreach (var item in Model)
        {
            <li>
                <a href="@Url.Action("Details", "Topics", new { id = item.TopicId})">@Html.DisplayFor(modelItem => item.Name)</a>
            </li>
        }
    </ul>
</div>
@if (User.Identity.Name == "Darian@gmail.com")
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}