﻿@model BookStoreMVC5.Models.Author

@{
    ViewBag.Title = "Details";
}

<h2>@Model.FirstName, @Model.LastName</h2>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            
        </dt>

        <dt>
            <img class="img-responsive" src="@Model.Image" alt="@Model.LastName" />
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
            <div>
                <h4>Books: </h4>
                <ul style="margin: 0; padding:0;">
                    @foreach (var item in Model.Books)
                    {
                        <li style="margin-left:10px">@Html.ActionLink($"{item.Name}", "Details", "Books", new { id = item.BookId }, null)</li>
                    }
                </ul>
            </div>
            
        </dd>

    </dl>
</div>
<p>
    <a href="javascript:void(0);" onclick="history.go(-1);">Back</a>
</p>
