﻿@model IEnumerable<BookStoreMVC5.Models.Author>

@{
    ViewBag.Title = "Index";
}

<h2>Authors</h2>
@if (User.Identity.Name == "Darian@gmail.com")
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img class="img-thumbnail img-responsive" width="150" src="@item.Image" alt="@Html.DisplayFor(modelItem => item.LastName)">
                <div class="caption">
                    <h4>@Html.DisplayFor(modelItem => item.FirstName), @Html.DisplayFor(modelItem => item.LastName)</h4>
                    <p>
                        <ul style="display: flex; list-style: none; margin: 0; padding:0;">
                            <li style="margin-left:10px">@Html.ActionLink($"{item.Books.Count()} books", "Details", "Authors", new { id = item.AuthorId }, null)</li>
                        </ul>
                    </p>
                    <p>@Html.ActionLink("Read more", "Details", new { id = item.AuthorId }, new { @class = "btn btn-sm btn-default" })</p>
                </div>
            </div>
        </div>
    }
</div>

